<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>POS</title>
	<base href="/">
</head>
<body>

	<div id="root">
		<div>
			<%- content %>
		</div>
	</div>

	<script type="application/json" id="react-initial-data">
		<%- reactInitialData %>
	</script>

	<script src="js/bundle.js"></script>
</body>
</html>