<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>POS</title>
	<base href="/">

	<link rel="stylesheet" href="css/external/uikit.min.css">
	<link rel="stylesheet" href="css/external/uikit.almost-flat.min.css">
	<link rel="stylesheet" href="css/external/notify.almost-flat.min.css">
	<link rel="stylesheet" href="css/external/placeholder.min.css">
</head>
<body>

	<div id="root">
		<div><%- content %></div>
	</div>

	<style>
		.noscript-show { display : none; }
	</style>
	<noscript>
		<style>
			.noscript-hide { display : none; }
			.noscript-show { display : inherit; }
		</style>
	</noscript>

	<script type="application/json" id="react-initial-data">
		<%- reactInitialData %>
	</script>

	<script src="js/external/jquery-2.2.2.min.js"></script>
	<script src="js/external/uikit.min.js"></script>
	<script src="js/external/notify.min.js"></script>
	<script src="js/external/eventsource-polyfill.js"></script>
	<script src="js/bundle.js"></script>
</body>
</html>